.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  list-style: none;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid white;
  width: 90%;
  color: #334155;
  font-weight: 700;
  padding: 15px;
}

.section {
  background: #8ed1cf;
}

.person-image {
  width: 80px;
  border-radius: 50%;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
  max-width: 350px;
  width: 90%;
  justify-content: space-around;
  column-gap: 5px;
}

.portfolio-sections-and-socials-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 90%;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  height: 90%;
  width: 90%;
  max-width: 400px;
}

.social-media-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid white;
  border-radius: 15px;
  padding: 25px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  width: 90%;
  max-width: 250px;
  flex-wrap: wrap;
}

.social-media-icons > img {
  cursor: pointer;
}

.rendering-container {
  border: 1px solid white;
  border-radius: 15px;
  padding: 25px;
}

.rendering-container {
  color: #1e293b;
}

@media screen and (min-width: 992px) {
  .portfolio-container {
    max-width: 90%;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }
  .person-image {
    width: 100px;
  }
  .navbar-container {
    max-width: 200px;
    align-self: stretch;
  }
  .portfolio-sections-and-socials-container {
    max-width: 650px;
  }
  .rendering-container {
    height: 500px;
    overflow: auto;
  }
}
